<!-- app.component.html -->

<!-- <navbar-primary-nav>
    <span>My Application</span>
    <span class="spacer"></span>
    <button routerLink="/app1">App 1</button>
    <button routerLink="/app2">App 2</button>
    <button routerLink="/app3">bootstrapping-application</button>
</navbar-primary-nav> -->
<mat-toolbar color="primary">
    <span>My Application</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/app1">App 1</button>
    <button mat-button routerLink="/app2">App 2</button>
    <button mat-button routerLink="/app3">App 3</button>
  </mat-toolbar>
  <router-outlet></router-outlet>
